/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.signout {
  float: right;
}

.signup {
  float: right;
}

#user-playlists {
  
}

#user-playlists li#current-playlist {
  
}

div.more-playlist ul {
	list-style-type:none;
}

div.given-playlists ul {
  list-style-type: none;
  
}

img#current-art {
  -moz-border-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

ul.song-list {
  clear:both;
  height: auto;
}

#given {
  height: 30px;
  margin-top: 10px;
  background-color: rgb(100, 207, 80);
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-left: -25px;
  text-align: center;
  padding-top: 10px;
}

#current-playlist {
  height: 30px;
  margin-top: 10px;
  background-color: yellow;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-left: -25px;
  text-align: center;
  padding-top: 10px;
}

#regular-playlist {
  height: 30px;
  margin-top: 10px;
  background-color: rgb(100, 207, 80);
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-left: -25px;
  text-align: center;
  padding-top: 10px;
}

#new-playlist {
  height: 30px;
  margin-top: 20px;
  background-color: rgb(100, 207, 80);
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  padding-top: 10px;
}